{% extends "base.html" %}
{% block content %}

<div class="container" >
  <div class="row" style="padding-top:10%">
      <div class="col-md-2">
      &nbsp;
      </div>
      
      <div class="col-md-8">
      <h2>About ZekeLabs</h2>
      <p style="font-size:1.5em; letter-spacing: 1px; line-height: 1.5;">
          zekeLabs is a Learning platform. We provide instructor led classroom training on Industry relevant Cutting Edge Technologies like Big Data, Machine Learning, Natural Language Processing and Artificial Intelligence to Professionals. We also help the beginners with Foundation courses on Java, Python, Scala and many more programming languages through Online and Classroom trainings. We provide opportunities to interact with Industry Experts, guide individuals for various levels of Industry Accredited Certification and mentor them to enhance their Digital Footprint.
      </p>
      <br>
      <h2>Vision</h2>
      <p style="font-size:1.5em; letter-spacing: 1px; line-height: 1.5;"> 
          To enable the professionals to adapt, learn and grow with the continuously evolving Information Technology Industry by providing the right tools and the most up-to-date learning Experience.
      </p>
      <br>
      <h2>Mission</h2>
      <p style="font-size:1.5em; letter-spacing: 1px; line-height: 1.5;">
          To help the millennials advance their professional journey by keeping them updated on the continuously evolving Information Technology Industry and providing them the knowledge and tools to carve a career of their choice. 
      </p>
      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>

 {% endblock %}
