{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container">
  <br/>
  <h3 align="center">Academic Section</h3>
  <br/>
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-3" style="padding-top:2%">
                <div class="thumbnail" >
                    <img class="img-responsive" src="/static/img/college/amc.jpg" alt="" >
                 </div>
            </div>
            <div class="caption" style="font-size:2em; letter-spacing: 1px; line-height: 1.5; padding-top:2%; " align="center"> AMC Engineering College, Bangalore
            </div>

            <div class="col-md-9" style="font-size:1.3em; letter-spacing: 1px; line-height: 1.5; padding-top:2%">
        Two Days workshop on Android Application Development - Bluetooth Chat App. Over 200+ students attended and completed App Development</div>
        </div>
    </div>
</div>


<div class="container">
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-3" style="padding-top:2%">
                <div class="thumbnail" >
                    <img class="img-responsive" src="/static/img/college/hkbk.jpg" alt="" >
                 </div>
            </div>
            <div class="caption" style="font-size:2em; letter-spacing: 1px; line-height: 1.5; padding-top:2%; " align="center"> HKBK College of Engineering, Bangalore

            </div>
            <div class="col-md-9" style="font-size:1.3em; letter-spacing: 1px; line-height: 1.5; padding-top:2%">
        Our Instructors conducted three days workshop on Python Foundation &amp; IOT Project. Over 200+ students attended and completed two IOT projects</div>
        </div>
    </div>
</div>

{% endblock %}


