{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
<div class="well well-sm">
<div class="row">
<div class="col-md-3" style="padding-top:2%">
<div class="thumbnail" >
<img class="img-responsive" src="/static/img/college/hkbk.jpg" alt="" >
<div class="caption">
<h3>HKBK</h3>
</div>
</div>
<!-- <center><a href="/courses/{{course.slug}}" class="btn btn-info">&nbsp;&nbsp;More Info&nbsp;&nbsp;</a></center> -->
</div>
<div class="col-md-9" style="font-size:1.3em; letter-spacing: 1px; line-height: 1.5; padding-top:2%">content</div>
</div>
</div>
</div>


<div class="container">
<div class="well well-sm">
<div class="row">
<div class="col-md-3" style="padding-top:2%">
<div class="thumbnail" >
<img class="img-responsive" src="/static/img/college/amc.jpg" alt="" >
<div class="caption">
<h3>AMC</h3>
</div>
</div>
<!-- <center><a href="/courses/{{course.slug}}" class="btn btn-info">&nbsp;&nbsp;More Info&nbsp;&nbsp;</a></center> -->
</div>
<div class="col-md-9" style="font-size:1.3em; letter-spacing: 1px; line-height: 1.5; padding-top:2%">content</div>
</div>
</div>
</div>
{% endblock %}


