{% extends "base.html" %}

{% block content %}

<p><strong><u>Privacy Policy</u></strong></p>
<p>&nbsp;</p>
<p>We respect your right to privacy and hate spam as much as you do.</p>
<p>&nbsp;</p>
<p>We therefore undertake not to provide anyone with your contact details, including your e-mail ID, unless and until you enter it yourself. However, people/organizations whose e-mail IDs are obtained by us through this site may be included in our own mailing list for product/service innovations and relevant news. Recipients of such announcements , however, will be free to unsubscribe from our mailing lists at any time by clicking &ldquo;Unsubscribe&rdquo; link.</p>
<p>&nbsp;</p>
<p>We also undertake not to make any individual or organization privy to the contents of any correspondence with us irrespective of whether the correspondence is made electronically through this site or by conventional means.</p>
<p>&nbsp;</p>
<p>Despite the above, with respect to all users of our site, zekeLabs and its associates reserves the right to disclose any content, records, or electronic communication of any kind (including personal information transmitted through our site) in one or more of the following circumstance</p>
<p>&nbsp;</p>
<ol>
<li>To comply with any law, regulation, or government order;</li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li>If such disclosure is necessary to operate zekeLabs or any of its business units; and</li>
</ol>
<p>&nbsp;</p>
<ol start="3">
<li>To protect the property and/or legitimate rights of zekeLabs or its associates, investors, customers, employees and suppliers.</li>
</ol>
<p>&nbsp;</p>
<p>Information collected by zekeLabs</p>
<p>&nbsp;</p>
<ol>
<li>You have total control on the privacy of your information</li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li>Your information will never be sold, exchanged or disclosed to any third party for marketing purposes</li>
</ol>
<p>&nbsp;</p>
<ol start="3">
<li>You can decide whether you want to opt-in to receive offers from us</li>
</ol>
<p>&nbsp;</p>
<p>When you purchase our online course, you need to make the payment online, thus you will be required to share your personal information such as name, e-mail address, telephone number, address(s), credit card number, expiration, and CVV number, with us. During this program, we store your contact information in our registration and order-entry systems. Your credit card information is never stored in our system as it is processed by our payment gateway which uses Secure Encryption Technology (SSL).</p>
<p>&nbsp;</p>
<p>Cookie Information</p>
<p>&nbsp;</p>
<p>In order to enhance your online experience and track website performance, our website uses cookies. It&rsquo;s a small text file which gets placed in your computer hard drive and can be retrieved later. Cookies do not tell us who you are.</p>
<p>&nbsp;</p>
<p>External Links</p>
<p>&nbsp;</p>
<p>Our website may have links to other sites which includes third party websites or resources. We are not responsible for the privacy policies and information practices of third party websites. Please read privacy policies of third party websites as every website has different terms of use and privacy policies.</p>
<p>&nbsp;</p>
<p>Course Content</p>
<p>&nbsp;</p>
<p>Course content for all the online study programs, it is provided for the purpose of education and guidance only. The course content is regularly reviewed and is subjected to change without notice. zekeLabs reserves the right to modify training content without notice.</p>
<p>&nbsp;</p>
<p>Copyright information</p>
<p>&nbsp;</p>
<p>You can electronically copy or take print of the website pages, if it is being used for only learning and personal. zekeLabs holds the copyright to all the material on this website, unless otherwise indicated. A written permission of the copyright holder must be obtained for any use of this material other than for purposes permitted by law.</p>
<p>&nbsp;</p>
<p>Personal Information Policy</p>
<p>&nbsp;</p>
<p>You can contact us if you notice that the information we are holding is incorrect or incomplete. Please send us a mail to support@zekeLabs.com</p>
<p>&nbsp;</p>
<p>Image and Video Capture</p>
<p>&nbsp;</p>
<p>Any images captured during events organized and hosted by zekeLabs should not be misused. That includes pictures of zekeLabs staff and training participants. If you enroll in a zekeLabs course your picture may also be featured in photos or videos of the zekeLabs classes.</p>
<p>&nbsp;</p>
<p>Sharing your personal information</p>
<p>&nbsp;</p>
<p>If you have purchased a zekeLabs course, we may ask you for testimonial and we may display your testimonial on our website, photos and videos or in our social media channels such as Facebook, YouTube or Flickr etc. You should be aware that your publicly identifiable information could be used to send you promotional, unsolicited messages. We are not responsible for the same. If you don&rsquo;t want us to feature your pictures/testimonials on our website or on our social media channels, you can write a mail to support@zekeLabs.com</p>
<p>&nbsp;</p>
<p>Personal Information Corrections</p>
<p>&nbsp;</p>
<p>You can contact us if you notice that the information we are holding is incorrect or incomplete. Please send us a mail to support@zekeLabs.com</p>
<p>&nbsp;</p>
<p>Changes to Privacy Policy</p>
<p>&nbsp;</p>
<p>This privacy policy terms may change time to time and we reserve the right to change the terms of this privacy policy at any time.</p>
<p>&nbsp;</p>
<p>Deleting Personal Information</p>
<p>&nbsp;</p>
<p>If you would like to delete your account, write to support@zekeLabs.com</p>
<p>&nbsp;</p>
<p>Privacy Policy Questions?</p>
<p>&nbsp;</p>
<p>If you have any questions regarding zekeLabs Privacy Policy, Please write to support@zekeLabs.com</p>
<p>&nbsp;</p>
{% endblock %}
