{% extends "base.html" %}
{% load static %}
{% load comment_tags %}
{% load rating_tags %}
{% block content %}


<div class="container">
{% include "searchbar.html"  %}

{% for course in courses %}
<div class="">
<div class="row">
<div class="col-md-3" style="padding-top:2%">
<div class="thumbnail" >
<img class="img-responsive" src="/static/media/{{ course.small_image }}" alt=""  width="200">
<div class="caption">
<center><h5>{{course.title}}</h5><center>
</div>
</div>
<center><a href="/courses/{{course.slug}}" class="btn btn-info">&nbsp;&nbsp;More Info&nbsp;&nbsp;</a></center>
</div>
<h4 style="padding-top:3%; padding-left:3%;">{{course.title}}</h4>
<div class="col-md-9" style="font-size:1em; color:grey; letter-spacing: 1px; line-height: 1.4; padding-top:2%">{{ course.overview | slice:":255"  }} . . .</div>
</div>
</div>
<hr>
{% endfor %}
</div>
{% endblock %}
