{% extends "base.html" %}
{% load static %}
{% load comment_tags %}
{% load rating_tags %}
{% block content %}

<style>
.search {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 14px;
    font-size: 16px;
    background-color: white;
    background-image: url('/static/img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
</style>


<div class="container">
 <div class="container-fluid" style="background-color: transparent;"><br/>
            <div class="row" style="background-color: transparent;">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="center-heading margin-btm-50">
                        <section id="courses">
                        <h2>TECHBYTES</h2>
                        <span class="border-width"></span>
                        <h4></h4>
                        </section>
                    </div>
             </div>
       </div>
 </div>

<h5 class="text-center">
<a href="{% url "search" "it" %}">IT</a>&nbsp;|&nbsp;
<a href="{% url "search" "python" %}">Python</a>&nbsp;|&nbsp;
<a href="{% url "search" "java" %}">Java</a>&nbsp;|&nbsp;
<a href="{% url "search" "scala" %}">Scala</a>&nbsp;|&nbsp;
<a href="{% url "search" "spark" %}">Spark</a>&nbsp;|&nbsp;
<a href="{% url "search" "hadoop" %}">Hadoop</a>&nbsp;|&nbsp;
<a href="{% url "search" "android" %}">Android</a>&nbsp;
</h5>
<br>
<div class="row">
<div class="col-md-8 col-xs-12">
{% for blog in blogs %}

{% url 'blog' blog.slug as the_url %}
<div class="well well-sm">
<a href="{{ the_url }}"><h4>{{ blog.title | safe  }}</h4></a>
{{blog.created}}
</div>
{% endfor %}
</div>
<div class="col-md-4 col-xs-12">
<div  class="text-center">
<form action="{% url "search"%}" method="get">
<input class="search" style="width:90%" type="text" name="item" placeholder="Search..">
</form>
</div>
<br><br>
{% for blog in blogs %}
{% url 'blog' blog.slug as the_url %}
<a href="{{ the_url }}"><h5 style="padding-left:10%">{{ blog.title | safe  }}</a></h5>
{% endfor %}
</div>
<br><br>
</div>
</div>


</div>

</div>

{% endblock %}
