<style>
.search {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 14px;
    font-size: 16px;
    background-color: white;
    background-image: url('/static/img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

</style>

<div class="container">
<div class="row">
<div class="col-md-8">
</div>
<div class="col-md-4">
{% if not blogs %}
{% endif %}
<div style="background-color:lightgrey; " class="text-center">
<hr>
<form action="{% url "search"%}" method="get">
<input class="search" style="width:70%" type="text" name="item" placeholder="Search..">
</form>
<hr>
</div>
{% if not blogs %}
<h4><strong>
<a href="{% url "search" "python" %}">Python</a><br>
<a href="{% url "search" "java" %}">Java</a><br>
<a href="{% url "search" "scala" %}">Scala</a><br>
<a href="{% url "search" "spark" %}">Spark</a><br>
<a href="{% url "search" "hadoop" %}">Handoop</a><br>
<a href="{% url "search" "android" %}">Android</a><br>
</strong></h4>
<br><br>
{% endif %}
</div>
</div>
</div>

