{% extends "base.html" %}
{% block content %}

<div class="container" >
<p>&nbsp;</p>
<h3>Terms Of Use</h3>
<p>These terms and conditions (&ldquo;Terms and Conditions&rdquo;) control your use of this website www.zekeLabs.com (&ldquo;Website&rdquo;). In these Terms and Conditions, &ldquo;zekeLabs&rdquo; is referred to as the &ldquo;Company&rdquo;, &ldquo;us,&rdquo; or &ldquo;we.&rdquo;</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&lsquo;You&rsquo; refers as user or a paying customer. If you are a company or another person who gives access to company products, you agree to take responsibility in full in case of damages or indemnification that could properly lie against the customer.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The zekeLabs web site (the &lsquo;Site&rsquo;), the educational services made available through the site and the content (the &lsquo;Products&rsquo;) are owned, operated and maintained, as applicable, by zekeLabs (&lsquo;we&rsquo;, &lsquo;our&rsquo;, &lsquo;us&rsquo;, or the &lsquo;Company&rsquo;). The Site, Products and Content are, collectively, the &lsquo;Company Products&rsquo;.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">By (a) using or accessing the Company Products, including, but not limited to downloading or accessing, (b) offering a Course through the Site or through Software; you agree to the terms and conditions set forth in these Terms of Use (the &ldquo;Terms&rdquo;)</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">BY USING THIS WEBSITE OR ITS PRODUCTS AND SERVICES, YOU AGREE AND WARRANT THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THESE TERMS. COMPANY&rsquo;S PRIVACY POLICY CAN BE FOUND AT Privacy Policy. IF YOU DO NOT ACCEPT THESE TERMS, YOU MUST NOT USE &ndash; AND ARE NOT AUTHORIZED TO USE &ndash; ALL OR ANY PORTION OF THE COMPANY&rsquo;S WEBSITE AND ITS PRODUCTS OR SERVICES (AS DEFINED BELOW).</span></p>
<p>&nbsp;</p>
<h4>Please read them carefully before you use the services of this site.</h4>
<p>&nbsp;</p>
<ol>
<li><span style="font-weight: 400;"> You should not use this site in an unlawful manner; you must respect website terms and conditions and follow the privacy policy.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li><span style="font-weight: 400;"> Under no situations or circumstances, the company will be liable for any change in the content which it provides on the website through its products and services, including but not limited to any errors, omissions, loss or damage experienced in connection with the use of exposure, any content made available via our products, services or various resources such as email, blog etc.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="3">
<li><span style="font-weight: 400;"> Our services are free to any user with access to the internet. However, we are not responsible for the charges incurred for the usage of hardware, software or internet services provider fee. Also, the user is fully responsible for the proper functioning of computer hardware and internet access.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="4">
<li><span style="font-weight: 400;"> You will be required to use login credentials for some of the sections on the site and the company reserves the right to block access to our services for any user who does not follow these conditions.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="5">
<li><span style="font-weight: 400;"> We make sure that users get uninterrupted access to our service, but there is no obligation to do so.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="6">
<li><span style="font-weight: 400;"> zekeLabs is not responsible and is not obligated for issues in your network or server beyond certain limits.</span></li>
</ol>
<p>&nbsp;</p>
<h4>WEBSITE USAGE GUIDELINES</h4>
<p>&nbsp;</p>
<ol>
<li><span style="font-weight: 400;"> Do not Insult, abuse, harass, stalk, threaten or otherwise infringe the rights of others;</span></li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li><span style="font-weight: 400;"> Do not publish, post, distribute or disseminate any defamatory, infringing, indecent, offensive or unlawful material or information;</span></li>
</ol>
<p>&nbsp;</p>
<ol start="3">
<li><span style="font-weight: 400;"> Do not upload, install, transfer files which are protected by Intellectual Property laws or software which affect other computers.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="4">
<li><span style="font-weight: 400;"> It&rsquo;s prohibited to edit HTML source code, reverse engineer or attempt to hack.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="5">
<li><span style="font-weight: 400;"> Do not run Spam services/scripts or anything which could affect infrastructure, and in turn, users.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="6">
<li><span style="font-weight: 400;"> Do not communicate spam, advertise or sell services such as digital downloads, eBooks or phishing links.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="7">
<li><span style="font-weight: 400;"> You may not copy, distribute and indulge in plagiarism with website content or user submitted content.</span></li>
</ol>
<p>&nbsp;</p>
<h4>THE CONTENT</h4>
<p>&nbsp;</p>
<ol>
<li><p><span style="font-weight: 400;">All website content or information that can be seen, heard or otherwise experienced on the Site is copyrighted and belongs to zekeLabs or its partners, affiliates or third parties. You may use the Site, the Service and the Content for your own personal, non-commercial use only.</span></p></li>
<p>&nbsp;</p>
<li><p><span style="font-weight: 400;">You may download and print the available material for your own personal, non-commercial use only.</span></p></li>
<p>&nbsp;</p>
<li><p><span style="font-weight: 400;">You will not transfer any information from the website or produce derivative work which you can display, distribute or transmit.</span></p></li>
<p>&nbsp;</p>
</ol>
<h4>LINKS AND HYPERLINKS TERMS</h4>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">This website may have links to other websites. We do not undertake any control on the content of these websites; nor are we responsible for their website content. The sole purpose of the links included is to provide users information. Hence, zekeLabs will not be held responsible.</span></p>
<p>&nbsp;</p>
<h4>HYPERLINKS</h4>
<p>&nbsp;</p>
<ol>
<li><span style="font-weight: 400;"> You may not mirror or frame the home page or any other pages of this Site on any other web site or web page.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li><span style="font-weight: 400;"> Do not link to zekeLabs pages and subpages with spam links/anchor text which could provide false impression. This may create misunderstanding for the users.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="3">
<li><span style="font-weight: 400;"> Do not use or include copyrighted or registered trademarks, or Intellectual property images, design or content as a link to zekeLabs website.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="4">
<li><span style="font-weight: 400;"> Do not link to pages which support racism, terrorism.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="5">
<li><span style="font-weight: 400;"> Do not link to pages which provide pornographic content and violate human rights.</span></li>
</ol>
<p>&nbsp;</p>
<h4>COPYRIGHT AND INTELLECTUAL PROPERTY</h4>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We value and respect others intellectual property and expect our users to do the same.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The entire contents of the Site are protected by copyright and trademark laws. The owner of the copyrights and trademarks are www.zekeLabs.com, its affiliates or other third party licensors. The material on the site, including text, graphics, code and/or software is copyrighted and belongs to zekeLabs, therefore you may not duplicate, modify, publish or reproduce the content in any manner,</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">zekeLabs does not take any responsibility for the content on other sites (except our partners and affiliates), that you may find when searching or accessing zekeLabs products or services. The privacy policy and terms of use of the sites that you visit will administer that material.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">zekeLabs has all the rights to disable or prohibit access to the users who do not respect and involve in the infringement of zekeLabs intellectual property.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">You are not allowed to use any of the digital images or logos from the website. In case of copyright issues, there has to be a written consent from the trademark owner</span></p>
<p>&nbsp;</p>
<h4>CLAIMS OF INTELLECTUAL PROPERTY VIOLATIONS</h4>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you believe that your work has been used without your permission in a way which prompts for copyright infringement. Please provide us the below information and we will act on it.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The authorized person who will act on behalf of the owner of the copyright, should send a digital or physical signature.</span></p>
<p>&nbsp;</p>
<ol>
<li><span style="font-weight: 400;"> A description of the copyrighted work that you claim to be infringing your IP.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li><span style="font-weight: 400;"> A description of where and how the material that you claim is infringing is located on the zekeLabs website, with enough detail that we may find it on the website.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="3">
<li><span style="font-weight: 400;"> Contact Details &ndash; Address, telephone number, and email address.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="4">
<li><span style="font-weight: 400;"> A statement by you, that the information which you provided is accurate and your claim of the copyright or intellectual property is on your owner&rsquo;s behalf.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="5">
<li><span style="font-weight: 400;"> You can reach zekeLabs to notify your claims of copyright By email - support@zekeLabs.com</span></li>
</ol>
<p>&nbsp;</p>
<h4>TRANSACTION TERMS</h4>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">When you transact on the zekeLabs website, you agree to the following terms of transactions.</span></p>
<p>&nbsp;</p>
<ol>
<li><span style="font-weight: 400;"> To make a transaction on zekeLabs website, you are bound to pay for that transaction.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li><span style="font-weight: 400;"> Please pay close attention to your payment details such as total bill, taxes, shipping costs, discounts.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="3">
<li><span style="font-weight: 400;"> There are certain products which require additional terms and conditions which you have to agree before you make the purchase.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="4">
<li><span style="font-weight: 400;"> WE MAKE NO WARRANTIES OF ANY KIND, EXPRESSED OR IMPLIED, WITH RESPECT TO ANY PRODUCTS OR SERVICES SOLD ON OR THROUGH zekeLabs.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="5">
<li><span style="font-weight: 400;"> No additional or different terms contained in any purchase order, document, transmission or other communication shall be binding upon zekeLabs unless agreed to by zekeLabs in writing.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="6">
<li><span style="font-weight: 400;"> zekeLabs reserves the right to modify, change without prior notice and in its sole discretion, to limit the order quantity on any item and to refuse service to anyone.</span></li>
</ol>
<p>&nbsp;</p>
<h4>PRICING DISCLAIMER</h4>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">All prices, products and offers of zekeLabs website are subject to change without notice.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">While we make sure to provide most accurate and up-to-date information, in some cases one or more items on our web site may be priced incorrectly. This might happen due to human errors, digital images, technical error or a mismatch in pricing information received from our suppliers.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">zekeLabs reserves the right to change prices for all our products, offers or deals. These changes are done due to market conditions, course termination, providers, price changes, errors in advertisements and other mitigating circumstances. However the price you paid at the time of purchase still holds for you.</span></p>
<p>&nbsp;</p>
<h4>PROPRIETARY USE OF zekeLabs STUDY MATERIAL</h4>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">zekeLabs owns the Intellectual property rights of all the study materials provided to the delegates, partners and affiliates. Therefore, no part of any course materials may be duplicated, transmitted digitally, mechanically or by photocopying, recording and should not be translated into other languages without a written permission.</span></p>
<p>&nbsp;</p>
<h4>CANCELLATION/RESCHEDULING POLICY</h4>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">zekeLabs reserves the right to reschedule/cancel an event, or change the location of an event.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">1) In case zekeLabs cancels an event, 100% refund will be paid to the delegate. Alternatively, the delegate can also choose a different session at no additional cost.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">2) If a delegate cancels a session, no refund will be made.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">3) If a delegate wishes to reschedule his/her session, a rescheduling fee may be charged.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">4) Online Self-Learning courses have a 3 day refund policy. If you are not satisfied with the course and report this over an email to info@zekeLabs.com within 3 days from the date of purchase we will refund the entire amount. This policy is not applicable to certification exams.</span></p>
<p>&nbsp;</p>
</div>

 {% endblock %}
